version: "3.5"

services:
  ## Build postgres docker image
  db:
    image: artifacts.developer.gov.bc.ca/redhat-docker-remote/crunchydata/crunchy-postgres-gis:ubi8-14.2-3.1-0
    container_name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-container
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "ls"]
      interval: 5s
      timeout: 5s
      retries: 30
    environment:
      - NODE_ENV=${NODE_ENV}
      - PG_USER=${DB_ADMIN}
      - PG_PASSWORD=${DB_ADMIN_PASS}
      - PG_DATABASE=${DB_DATABASE}
      - PG_PRIMARY_PORT=${DB_PORT}
      - PG_ROOT_PASSWORD=${DB_ADMIN_PASS}
      - PG_PRIMARY_USER=${DB_ADMIN}
      - PG_PRIMARY_PASSWORD=${DB_ADMIN_PASS}
      - MODE=postgres
      - PG_MODE=primary
    networks:
      - local-network
    volumes:
      - postgres:/var/lib/postgresql/data

  ## Build the api docker image
  api:
    image: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-container
    build:
      context: ./api
      dockerfile: ./.docker/api/Dockerfile
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      - NODE_ENV=${NODE_ENV}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - TZ=${API_TZ}
      - API_HOST=${API_HOST}
      - API_PORT=${API_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - KEYCLOAK_HOST=${KEYCLOAK_HOST}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - OBJECT_STORE_URL=${OBJECT_STORE_URL}
      - OBJECT_STORE_ACCESS_KEY_ID=${OBJECT_STORE_ACCESS_KEY_ID}
      - OBJECT_STORE_SECRET_KEY_ID=${OBJECT_STORE_SECRET_KEY_ID}
      - OBJECT_STORE_BUCKET_NAME=${OBJECT_STORE_BUCKET_NAME}
      - MAX_REQ_BODY_SIZE=${MAX_REQ_BODY_SIZE}
      - MAX_UPLOAD_NUM_FILES=${MAX_UPLOAD_NUM_FILES}
      - MAX_UPLOAD_FILE_SIZE=${MAX_UPLOAD_FILE_SIZE}
      - LOG_LEVEL=${LOG_LEVEL}
      - CLAMAV_PORT=${CLAMAV_PORT}
      - CLAMAV_HOST=${CLAMAV_HOST}
      - ENABLE_FILE_VIRUS_SCAN=${ENABLE_FILE_VIRUS_SCAN}
    volumes:
      - ./api:/opt/app-root/src
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - local-network
    depends_on:
      - db
      - db_setup

  # Build the clamav docker image
  clamav:
    image: mkodockx/docker-clamav:latest
    container_name: ${DOCKER_PROJECT_NAME}-clamav-${DOCKER_NAMESPACE}-container
    ports:
      - ${CLAMAV_PORT}:${CLAMAV_PORT}
    networks:
      - local-network
    depends_on:
      - api

  ## Build the app docker image
  app:
    image: ${DOCKER_PROJECT_NAME}-app-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-app-${DOCKER_NAMESPACE}-container
    build:
      context: ./app
      dockerfile: ./.docker/app/Dockerfile
    stdin_open: true
    ports:
      - ${APP_PORT}:${APP_PORT}
    environment:
      - NODE_ENV=${NODE_ENV}
      - REACT_APP_NODE_ENV=${NODE_ENV}
      - PORT=${APP_PORT}
      - REACT_APP_API_HOST=http://${API_HOST}
      - REACT_APP_API_PORT=${API_PORT}
      - REACT_APP_MAX_UPLOAD_NUM_FILES=${MAX_UPLOAD_NUM_FILES}
      - REACT_APP_MAX_UPLOAD_FILE_SIZE=${MAX_UPLOAD_FILE_SIZE}
      - REACT_APP_SITEMINDER_LOGOUT_URL=${SITEMINDER_LOGOUT_URL}
      - REACT_APP_N8N_HOST=${N8N_HOST}
      - REACT_APP_N8N_PORT=${N8N_PROXY_PORT}
      - REACT_APP_KEYCLOAK_HOST=${KEYCLOAK_HOST}
      - REACT_APP_KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - REACT_APP_KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
    volumes:
      - ./app:/opt/app-root/src
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - local-network

  ## Run the database migrations and seeding
  db_setup:
    image: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-container
    build:
      context: ./database
      dockerfile: ./.docker/db/Dockerfile.setup
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_HOST=${DB_HOST}
      - DB_ADMIN=${DB_ADMIN}
      - DB_ADMIN_PASS=${DB_ADMIN_PASS}
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
      - DB_SCHEMA_DAPI_V1=${DB_SCHEMA_DAPI_V1}
    volumes:
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - local-network
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "setup"]

  ## Run the database migrations
  db_migrate:
    image: ${DOCKER_PROJECT_NAME}-db-migrate-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-migrate-${DOCKER_NAMESPACE}-container
    build:
      context: ./database
      dockerfile: ./.docker/db/Dockerfile.migrate
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_HOST=${DB_HOST}
      - DB_ADMIN=${DB_ADMIN}
      - DB_ADMIN_PASS=${DB_ADMIN_PASS}
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
      - DB_SCHEMA_DAPI_V1=${DB_SCHEMA_DAPI_V1}
    volumes:
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - local-network
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "migrate:latest"]

  ## Rollback the latest database migrations
  db_rollback:
    image: ${DOCKER_PROJECT_NAME}-db-rollback-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-rollback-${DOCKER_NAMESPACE}-container
    build:
      context: ./database
      dockerfile: ./.docker/db/Dockerfile.rollback
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_HOST=${DB_HOST}
      - DB_ADMIN=${DB_ADMIN}
      - DB_ADMIN_PASS=${DB_ADMIN_PASS}
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
      - DB_SCHEMA_DAPI_V1=${DB_SCHEMA_DAPI_V1}
    volumes:
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - local-network
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "migrate:rollback"]

networks:
  local-network:
    driver: bridge

volumes:
  postgres:
    name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-vol
